
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.time-container {
  font-size: 4em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
}

.time-container > div {
  width: 1.4em;
}

.time-container > .h::after {
  content: "Hours";
  font-size: .3em;
  margin-top: -.5em;
}
.time-container > .m::after {
  content: "Minutes";
  font-size: .3em;
  margin-top: -.5em;
}
.time-container > .s::after {
  content: "Seconds";
  font-size: .3em;
  margin-top: -.5em;
}

.time-container .selected {
  background: var(--clr-bg2-darker);
  border-radius: .1em;
  color: var(--clr-bg);
}

.number-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  background: var(--clr-bg2);
  padding: .7em 0 .1em;
}

.number-buttons * {
  background: var(--clr-bg);
  color: var(--clr-bg2);
  font-size: 1.8em;
  font-weight: bold;
  width: 17%;
  height: 1.8em;
  margin-bottom: .3em;  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding:0; 
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  padding:0;
  height: 2em;
  width: 2em;
  border-radius: 0 0 .3em 0;
  border:none;
}

.back-button::before {
  content: "";
  display: inline-block;
  background: url(../../assets/close.svg) 50% 50% no-repeat;
  filter: invert();
  width: 1em;
  background-size: contain;
  height: 100%;
}

.security-button {
  position: absolute;
  top: 0;
  right: 0;
  padding:0;
  height: 2em;
  width: 2em;
  border-radius: 0 0 0 .3em;
  border:none;
}

.security-button.unlock {
  background: var(--clr-text);
}

.security-button.lock::before {
  content: "";
  display: inline-block;
  background: url(../../assets/unlock.svg) 50% 50% no-repeat;
  filter: invert();
  width: 1em;
  background-size: contain;
  height: 100%;
}

.security-button.unlock::before {
  content: "";
  background: red;
  display: inline-block;
  background: url(../../assets/lock.svg) 50% 50% no-repeat;
  filter: invert();
  width: 1em;
  background-size: contain;
  height: 100%;
}

.locked-alert {
  background: #e84118;
  color :white;
  font-weight: 400;
  height: 3em;
  line-height: 3em;
  position: absolute;
  padding: 0 .3em;
  border-radius: 0 0 0 .5em;
  right: 0;
  transform: translateX(5em);
  transition: transform 250ms ease-out;  
  cursor: pointer;
}

.locked-alert.visible {
  transform: translateX(0);
  animation: bump .75s normal linear; 
}

@keyframes bump {
  0% {
    transform: translateX(4.8em) scale(1);
  }

  25% {
    transform: scale(1);
  }

  44% {
    transform: scale(1.2);  
  }

  63% {
    transform: scale(1);
  }

  82% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }

  
}

.big-button {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 500;
  width: 100%;
  border-radius: 0;
  height: 2em;
  font-size: 1.5em;
}

.big-button.start {
  margin-top: 1em;
}