
.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timer {
  font-size: 100px;
  margin-bottom: 50px;
}

.time-input-container {
  font-size: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.time-input-container .selected {
  background: var(--clr-text);
  color: var(--clr-bg);
}



.timerdata {
  position: fixed;
  bottom: 10px;
}

.back-button {
  position: fixed;
  width: 50px;
  height: 50px;
  padding: 0;
  top: 10px;
  left: 10px;
  border:none;
  font-size: 30px;
}

.number-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.number-buttons * {
  background: var(--clr-text);
  color: var(--clr-bg);
  font-size: 30px;
  width: 18%;
  height: 60px;
  margin-bottom: 2%;  
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding:0; 
}

