:root {
  --clr-bg: #fff;
  --clr-bg2: #f0be77;
  --clr-bg2-dark: #f0aa48;
  --clr-bg2-darker: #de932a;
  --clr-text: #0c0c0c;
  --clr-text2: #919191; 
}

::selection {
  background-color: transparent;
}

.App {
  text-align: center;
  cursor: default;
  background: var(--clr-bg2);
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
}

.App-container {
  background-color: var(--clr-bg);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  color: var(--clr-text);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

button {
  padding: 0px 16px;
  height: 40px;
  line-height: 1em;
  border-radius: 8px;
  color: var(--clr-bg);
  margin-bottom: 10px;
  font-size: 30px;
  outline: none;
  opacity: 1;
  transition: 200ms all;
  cursor: pointer;
  background: var(--clr-bg2);
  border: none;
}

button:hover {
  background: var(--clr-bg2-dark);
}
button:active {
  background: var(--clr-bg2-darker);
}

.disabled {
  background: darkgray !important;
}


div {
  display: flex;
  flex-direction: column;
}

.landing {
  width: 100%;
  flex:1;
  align-items: center;
}

/* LANDING TITLE */ 
.title {
  width: 80%;
  margin-top: 30px;
}

.title-logo {
  height: 70px;
  width: 100%;
  background: url(assets/logo-full.svg) no-repeat center;
  background-size: contain; 
}

.title-text {
  font-weight: 300;
  font-size: 24px;
  margin-top: 10px;
  text-transform: uppercase;

}

/* LANDING CONTENT */
.langing-content {
  flex:1;
  justify-content: center;
  padding: 0 10px;
  
}

.langing-content h2 {
  font-weight: 300;
  margin-bottom:10px;
}

.langing-content h4 {
  margin:0;
  font-weight: 300;
}

/* RECENT TIMERS */
.recent-timers {
  display: block;
  width: 95%;
  text-align: left;
  margin-bottom: 20px;
}

.recent-timers label {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .1em;
  width: 100%;
  text-transform: uppercase;
}

.recent-timers button {  
  margin: 4px 8px 0 0;
  padding: 4px 8px;
  height: unset;
  font-size: .8em;
}

/* TIMER NAME INPUT */
.name-input {
  display: block;
  width: 95%;
  text-align: left;
  margin-bottom: 70px;
}

.name-input .label {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .1em;
  width: 100%;
  text-transform: uppercase;
}

.name-input .prefix {
  font-size: 24px;
  display: inline-block;
  width: 160px;
}

.name-input .input {
  display: inline-block;
  font-size: 28px;
  width: calc(95% - 160px);
  color: var(--clr-bg2) !important;


  border: none;
  border-bottom: 1px solid var(--clr-text2);
  outline: none;
}
::placeholder {
  color: var(--clr-bg2) !important;
}

.name-input .btn-select {
  float: right;
  margin-top: 10px;
  margin-right: 3%;
}

.name-input .btn-select::before {
  content: "";
  display: inline-block;
  background: url(./assets/arrow-right.svg) 50% 50% no-repeat;
  width: 60px;
  height: 100%;
}